{{ partial "header" .}}

<h1>{{ .Site.Params.notFound.h1 }}</h1>
<p>{{ .Site.Params.notFound.p }}</p>
<img src="{{ .Site.Params.notFound.gopher | absURL }}" alt="gopher" title="gopher" class="gopher" />

{{ if .Site.Params.mainSections }}
  {{ $scratch := newScratch }}
  {{ if in .Site.Params.mainSections "portfolio" }}
    {{ $scratch.Set "section" .Site.Params.sections.portfolio }}
  {{ else }}
    {{ $scratch.Set "section" (.Site.Params.sections.blog) }}
  {{ end }}

  <p>Puisque vous êtes là, jetez un oeil à mon dernier {{ $scratch.Get "section" }} :</p>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ range first 1 $pages }}
    {{ if in .Site.Params.mainSections "portfolio" }}
      {{ partial "portfolio/item" .}}
    {{ else if in .Site.Params.mainSections "blog" }}
      {{ partial "post/item" .}}
    {{ end }}
  {{ end }}
{{end}}

{{ partial "footer" .}}
